body {
    padding: 0;
}

@font-face {
    font-family: momot;
    src: url(Momоt___.ttf);
  }

.column {
    display: grid;
    grid-column: 1;
    width: 100%;
    justify-content: center;  
}


.logo {
    width: 45vh;
    text-align: center;
}

.logo-container {
    grid-column: 3 / span 4;
}

.regua {
    grid-column: 1 / span 8;
}

.title {
    font-family: momot;
    color: red;
    margin: 0px;
    font-weight: bold;
    grid-column: 1 / span 8;
    text-align: center;
    font-size: 12vw;
}

.calendar {
    font-family: momot;
    color: black;
    text-align: left;
    font-weight: bold;
    margin: 0px;
    grid-column: 1 / span 8;
    font-size: 5vw;
}