@media only screen and (max-width: 850px) {
    .title {
        height: 6vh;
        font-size: 3.5vh;
    }
    .text {
        font-size: 1.9vh;
    }
}
@media only screen and (min-width: 851px) {
    .title {
        font-size: 10vh;
        height: 20vh;
    }
    .text {
        font-size: 2.5vh;
    }
}

body{
    padding: 0;
}

.column {
    display: grid;
    grid-column: 1;
    width: 100%;
    justify-content: center;  
}

.logo {
    width: 35vw;
    text-align: center;
}

.logo-container {
    grid-column: 3 / span 4;
}

.column {
    display: grid;
    margin: 0px;
    gap: 0px;
}

.title {
    font-family: momot;
    color: red;
    margin: 0px;
    font-weight: bold;
    font-size: 12vh;
    grid-column: 1 / span 8;
    text-align: center;
}

.calendar {
    font-family: momot;
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 5vh;
    margin: 0px;
    grid-column: 1 / span 8;
}

@font-face {
    font-family: momot;
    src: url(Momоt___.ttf);
  }