@media only screen and (max-width: 850px) {
    .title {
        height: 6vh;
        font-size: 3.5vh;
    }
    .text {
        font-size: 1.9vh;
    }
    .littleday {
        font-size: 1.5vh;   
    }
}
@media only screen and (min-width: 851px) {
    .title {
        font-size: 10vh;
        height: 20vh;
    }
    .text {
        font-size: 2.5vh;
    }
    .littleday {
        font-size: 3vh;
    }
}

body{
    margin: 0px;
    padding: 0;
}

.wrapper {
    overflow-y: hidden;
}

.homebg {
    object-fit: cover;
    float: left;
    min-width: 1px;
}

.home {
    position: fixed;
    display: grid;
    width: 100vw;
    text-align: center;
    grid-row: 10;
    padding: 0px;
    margin: 0px;
    align-content: space-around;
}

grid-container {
    margin: 0px;
    gap: 0px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    margin: 0px;
    grid-column: 1 / span 8;
}

.caption {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 10vh;
    margin: 0px;
    grid-column: 1 / span 8;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    grid-column: 1 / span 8;
    width: 94vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 10vw;
}


a {
    color: red;
    font-weight: bold;
    font-size: 5vh;
}

.homebutton {
    font-family: basteleurBold;
    text-align: center;
    color: black;
    grid-column: 1 / span 8;
}

.contribution {
    font-family: basteleurBold;
    color: red;
    grid-column: 1 / span 8;
}

table {
    font-family: basteleurBold;
    border-collapse: collapse;
    width: 100%;
    grid-column: 1 / span 8;
}
  
table td, table th {
    border: 0px;
    padding: 0px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: yellowgreen;}

table th {
    text-align: left;
    background-color: transparent;
    color: black;
}



.forms-table {
    grid-column: 1 / span 8;
}